button {
	border-radius: 3px;
}

button.primary {
	border: 1px solid #dd4b39;
	background-color: #dd4b39;
	color: #fff;
	font-size: large;
}

button.secondary {
	border: 1px solid #4d90fe;
	background-color: #4d90fe;
	color: #fff;
	font-size: medium;
}

button:hover {
	cursor: pointer;
	box-shadow: 2px 2px 5px #888;
}

button:disabled {
	cursor: auto;
	border: 1px solid #7e7e7e;
	background-color: #7e7e7e;
}

button:disabled:hover {
	cursor: auto;
	box-shadow: none;
}

#viewCode {
	margin-top: 10px;
	margin-left: 42px;
	padding: 10px;
}

#runCode {
	margin-top: 8px;
	margin-left: 200px;
	padding: 10px;
}

#clearCanvas {
	margin-top: 8px;
	margin-left: 20px;
	padding: 10px;
}

#codeArea {
	margin-left: 20px;
	margin-right: 24px;
}